:root {
  --cor-bg: #fff;
  --cor-bg-s: #171717;
  --cor-bg-section: 179,191,231;

  --cor-input-bg: initial;
  --cor-modal-bg: #fff;
  --cor-texto-p: #333;
  --cor-texto-s: #fff;
  --cor-texto-menu: rgb(255, 255, 255);
  --cor-texto-drop: #fff;
  --cor-erro: #dc3545;
  --cor-label: rgb(160, 160, 160);

  --cor-header: #0170b9;
  --cor-header-after: #ca1c2a;
  --cor-form-disabled: #e9ecef;

  --cor-borda-input-focus: #2a2b7473;
  --cor-borda: #0170b9;
  --cor-box-input-focus: 0 0 0 0.2rem rgba(0, 37, 116, 0.3);

  --cor-botao: rgb(100, 100, 100);

  --cor-p1: #0170b9;
  --cor-s1: #00538a;

  --cor-titulo: #660000;
  --cor-p2: #ca1c2a;

  --cor-s2: #660000;
}
