.fundo-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 690px;
  background-image: url(../../img/index.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.section-titulo {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--cor-texto-menu);
  border-radius: 20px;
  padding: 20px;
}

.titulo {
  text-shadow: 0px 0px 3px var(--cor-header-after);
  font-size: var(--fs-j);
  hyphens: auto;
}

.section-titulo p {
  text-shadow: 0px 0px 3px var(--cor-header-after);
  font-size: var(--fs-g);
}

.botao-principal {
  border: 0px;
  border-radius: 10px 20px;
  border-top: 2px solid var(--cor-header-after);
  border-bottom: 2px solid var(--cor-header-after);
  cursor: pointer;
  background-color: var(--cor-botao);
  font-size: var(--fs-m);
  color: var(--cor-texto-menu);
  transition: 0.3s linear;
  padding: 5px 10px;
}

.botao-principal:hover {
  transform: scale(1.1);
  background-color: var(--cor-bg-s);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-color: rgba(var(--cor-bg-section), 0.3);
}

.section:nth-child(odd) {
  background-color: rgba(var(--cor-bg), 0.3);
}

.section:nth-child(odd) h2,
.section:nth-child(odd) h3 {
  background: var(--cor-subtitulo-section-2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left rigth';
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
}

.column-center {
  grid-column: 1/-1;
}

.container-section h2 {
  font-size: var(--fs-xxg);
  color: var(--cor-texto-p);
}

.container-section img {
  box-sizing: border-box;
  place-self: center center;
  border-radius: 20px;
  max-width: 450px;
}

.container-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.section:nth-child(odd) .container-conteudo {
  grid-area: left;
}

.section:nth-child(odd) .container-conteudo a {
  border-color: rgb(var(--cor-header));
}

.section h2,
.section h3 {
  background: var(--cor-subtitulo-section);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container-conteudo h2 {
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 20px;
}

.container-conteudo a {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 20px;
}

.margin-sides {
  margin: 0 30px;
}

@media (max-width: 1200px) {
  .acc {
    margin-left: 0px;
  }
  .container-section {
    gap: 40px;
  }
}

@media (max-width: 1000px) {
  .section {
    height: auto;
  }
  .container-section {
    grid-template-columns: 1fr;
    grid-template-areas: initial;
    place-items: center;
    margin: 30px 0px;
  }
  .section:nth-child(odd) .container-conteudo {
    grid-area: initial;
  }
}

@media (max-width: 800px) {
  .section-titulo h1 {
    font-size: var(--fs-h);
  }
  .section img {
    max-width: 300px;
  }
  .section h2 {
    font-size: var(--fs-xg);
  }
  .section h3 {
    font-size: var(--fs-g);
  }
  .conteudo {
    gap: 20px;
  }
  .container-section {
    padding: 0 20px;
  }
  #back-top {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .section h2 {
    font-size: var(--fs-xp);
  }
  .section h3 {
    font-size: var(--fs-p);
  }
  .section p {
    font-size: var(--fs-xxp);
  }
  .botao-principal {
    font-size: var(--fs-xxxp);
  }
  .section-titulo h1 {
    font-size: var(--fs-xxxg);
  }
  .section-titulo p {
    font-size: var(--fs-m);
  }
  .container-conteudo button {
    margin-top: 10px;
  }
  .container-conteudo h2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .section img {
    max-width: 250px;
  }
}
