.sub-descricao-produto h2{
  margin-bottom: 30px;
}

.section:nth-child(odd) .sub-descricao-produto h2, .section:nth-child(odd) .sub-descricao-produto p{
  text-align: right;
}

.sub-conteudo h2{
  font-size: var(--fs-xg);
}

.sub-conteudo h3{
  font-size: var(--fs-g);
}

.sub-descricao-produto p{
  margin: 20px 0;
}

@media(max-width: 1000px){
  .section:nth-child(odd) .sub-descricao-produto h2, .section:nth-child(odd) .sub-descricao-produto p{
    text-align: center;
  }
  .sub-descricao-produto{
    text-align: center;
  }
}

@media (max-width: 800px){
  .sub-conteudo h2{
    font-size: var(--fs-xp);
  }

  .sub-conteudo h3{
    font-size: var(--fs-p);
  }
}

@media (max-width: 600px){
  .sub-conteudo h2{
    font-size: var(--fs-g);
  }

  .sub-conteudo h3{
    font-size: var(--fs-p);
  }
}