:root {
  --fs-xxxg: 3rem;
  --fs-xxg: 2.5rem;
  --fs-xg: 2rem;
  --fs-g: 1.5rem;
  --fs-m: 1rem;
  --fs-p: 1.2rem;
  --fs-xp: 1.8rem;
  --fs-xxp: 0.9rem;
  --fs-xxxp: 0.8rem;
  --fs-j: 5rem;
  --fs-h: 3.5rem;
}