<footer>
  <section class="footer-logo">
    <h1>Telecall</h1>
    <p>Av. das Américas, 3434 - Barra da Tijuca, Rio de Janeiro</p>
  </section>
  <section class="footer-link">
    © 2023 Patrick - Telecall
    <div class="footer-flex">
      <a href="#"><img id="facebook-icone" src="/img/facebook.svg" alt=""></a>
      <a href="#"><img id="instagram-icone" src="/img/instagram.svg" alt=""></a>
      <a href="#"><img id="linkedin-icone" src="/img/linkedin.svg" alt=""></a>
    </div>
  </section>
</footer>
<script type="module" src="/js/menu/menu.js"></script>