* {
  font-family: 'Poppins', sans-serif;
}

body{
  transition: 0.3s ease-in-out;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul, li{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


a{
  text-decoration: none;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}