@keyframes show-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-menu='button'] {
  display: none;
}

@media (max-width: 1000px) {
  [data-menu='button'] {
    display: block;
  }

  .cliente {
    display: block;
    margin: 0px;
  }

  [data-menu='button'] {
    display: flex;
    background: var(--cor-botao);
    border: none;
    border-top: 2px solid var(--cor-header-after);
    border-left: 2px solid var(--cor-header-after);
    padding: 0.5rem 1rem;
    border-radius: 10px 20px;
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--cor-texto-menu);
    margin: 10px;
    align-items: center;
    position: absolute;
    left: 100px;
    z-index: 3;
    transition: all .3s;
  }

  [data-menu='button']:hover {
    background: var(--cor-bg-s);
    transform: scale(1.1);
  }

  [data-menu='button']::before {
    margin-right: 4px;
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background: var(--cor-texto-menu);
    box-shadow: 0 4px var(--cor-texto-menu), 0 -4px var(--cor-texto-menu);
    transition: transform .3s;
  }

  [data-menu='button'].active::before {
    transform: rotate(90deg);
  }

  [data-menu='list'] {
    display: none;
    position: absolute;
    background: rgb(var(--cor-header));
    width: 170px;
    z-index: 2;
    top: 0;
    left: 100px;
    padding: 60px 10px 20px 10px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    transition: all .3s;
  }

  [data-menu='list'].active {
    display: block;
    animation: show-right .3s forwards;
  }

  .logo-principal {
    position: absolute;
    right: 100px;
  }

  .dropdown {
    position: static;
  }
}

@media(max-width: 1000px){
  [data-menu='list']{
    padding-top: 90px;
  }
}

@media (max-width: 600px) {
  [data-menu='list'] {
    left: 0px;
    border-radius: 0 0 10px 0;
  }
  /* [data-menu='list'] {
    width: 100%;
  } */
  [data-menu='button'] {
    left: 0px;
  }
  [data-menu='button']{
    padding: 0.2rem 0.5rem
  }
  [data-menu='button']{
    font-size: var(--fs-xxxp);
  }
  .logo-principal {
    right: 20px;
  }

  .logo-principal img {
    max-width: 150px;
  }
}

@media (max-width: 340px) {
  .logo-principal img {
    max-width: 100px;
  }
  [data-menu='list'] {
    width: 140px;
  }
}
