body {
  background-color: var(--cor-bg);
}

#erroLogin{
  display: none;
  color: var(--cor-p2);
  text-align: center;
}

.fundo-login{
  background-image: url(../../img/pngwing.com\ \(4\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
}

.dark-mode .fundo-login{
  background-image: url(../../img/pngwing.com\ \(2\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-campo {
  display: grid;
  padding: 20px;
  gap: 20px;
  width: 100%;
  justify-self: center;

  background-color: var(--cor-modal-bg);
  border-radius: 20px;
}

#logo-dark{
  display: none;
}

.login-principal {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.login-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 100%;
  padding: 40px;
}

.area-login {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}


.login-titulo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
}

.login-titulo h1{
  font-size: 2.5rem;
  color: var(--cor-titulo);
}

.modo-escuro{
  display: flex;
  flex-direction: column;
}


.login-campo form {
  display: grid;
  gap: 10px;
}

.form-control:focus {
  border-color: var(--cor-borda-input-focus);
  box-shadow: var(--cor-box-input-focus);
}

.login-campo button[type='submit'] {
  border: 0px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  background-color: var(--cor-p2);
  color: white;
  transition: ease 0.3s;
}

.login-campo button[type='submit']:hover {
  background-color: var(--cor-s2);
}

.estilo-botao{
  border-radius: 10px;
}

.botao-cadastro {
  place-self: center center;
  padding: 5px;
  color: var(--cor-p1);
  border: none;
  background-color: transparent
}

.botao-formulario{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 550px) {
  .login-container {
    padding: 20px;
  }

  .login-container img{
    max-width: 250px;
  }

  .login-titulo{
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

}
