<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telecall</title>
    <%- include('componentes/links') %>
  </head>
  <body>
    <%- include('componentes/header') %>
    <main class="main">
      <section class="section-titulo imagem-fundo">
        <h1 class="titulo">Telecall</h1>
        <p>Soluções Inteligentes para sua empresa.</p>
        <button class="botao-principal">Saiba Mais</button>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/cartao.png" alt="" />
          <div class="conteudo">
            <h2>Nossos Serviços</h2>
            <p>
              Sou um parágrafo. Clique para adicionar o seu próprio texto e editar. Sou um ótimo
              espaço para que seus usuários saibam mais sobre você.
            </p>
            <button class="botao-principal">Saiba Mais</button>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/img-telecall.png" alt="" />
          <div class="nossos-servicos">
            <h2>Nossos Serviços</h2>
            <div class="conteudo-servicos">
              <h3>Internet</h3>
              <p>Soluções em fibra óptica de altíssima velocidade</p>
            </div>
            <div class="conteudo-servicos">
              <h3>Internet</h3>
              <p>Soluções em fibra óptica de altíssima velocidade</p>
            </div>
            <div class="conteudo-servicos">
              <h3>Internet</h3>
              <p>Soluções em fibra óptica de altíssima velocidade</p>
            </div>
            <div class="conteudo-servicos">
              <h3>Internet</h3>
              <p>Soluções em fibra óptica de altíssima velocidade</p>
            </div>
            <button class="botao-principal">Saiba Mais</button>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/cartao.png" alt="" />
          <div class="conteudo">
            <h2>Nossos Serviços</h2>
            <p>
              Sou um parágrafo. Clique para adicionar o seu próprio texto e editar. Sou um ótimo
              espaço para que seus usuários saibam mais sobre você.
            </p>
            <button class="botao-principal">Saiba Mais</button>
          </div>
        </div>
      </section>
    </main>
    <%- include('componentes/footer') %>
  </body>
</html>
