<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telecall</title>
    <meta name="description" content="Na Telecall você encontra os melhores serviços de internet, telefonia e celular corporativo. Planos personalizados para a sua empresa." />
    <%- include('componentes/links') %>
  </head>
  <body>
    <%- include('componentes/header') %>
    <main class="main">
      <section class="imagem-fundo">
        <div class="section-titulo">
          <h1 class="titulo">Telecall</h1>
          <p>Soluções Inteligentes para sua empresa.</p>
          <a class="botao-principal border-color-2">Saiba Mais</a>
        </div>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/internet.jpg" alt="" />
          <div class="container-conteudo">
            <h2>Internet</h2>
            <div>
              <h3>Internet Dedicada</h3>
              <p>Internet dedicada de máxima qualidade, disponibilidade e segurança.</p>
            </div>
            <div>
              <h3>Banda Larga</h3>
              <p>Internet em fibra ótica de alta qualidade e velocidade.</p>
            </div>
            <div>
              <h3>Wi-Fi</h3>
              <p>Internet sem fio de alta qualidade e velocidade!</p>
            </div>
            <a href="/internet" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/cartao.png" alt="" />
          <div class="container-conteudo">
            <h2>Telefonia</h2>
            <div>
              <h3>PABX IP Virtual</h3>
              <p>Telefonia na nuvem de alta qualidade.</p>
            </div>
            <div>
              <h3>E1 / SIP Trunk</h3>
              <p>Soluções de telefonia inteligentes.</p>
            </div>
            <div>
              <h3>Números 0800 e 40XX</h3>
              <p>Numeros especiais de acordo com a necessidade de sua empresa.</p>
            </div>
            <a class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container-section">
          <img src="/img/solucoes.png" alt="" />
          <div class="container-conteudo">
            <h2>Rede e Infraestrutura</h2>
            <div>
              <h3>Ponto-a-Ponto</h3>
              <p>Acesso dedicado para ligação entre dois pontos.</p>
            </div>
            <div>
              <h3>MPLS</h3>
              <p>Formação de rede com protocolo MPLS.</p>
            </div>
            <div>
              <h3>FIbra Apagada e Dutos</h3>
              <p>Locação privada de fibra apagada e dutos.</p>
            </div>
            <a class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section><%- include('componentes/modalCadastro') %></section>

      <button id="back-top">
        <img src="/img/back-top.svg" id="seta-topo" alt="Voltar ao topo" />
      </button>
    </main>
    <%- include('componentes/footer') %>
  </body>
</html>
