<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telecall</title>
    <meta
      name="description"
      content="Conheça as soluções de internet em fibra de altíssima velocidade da Telecall. Link dedicado, Banda larga e Wi-fi."
    />
    <%- include('componentes/links') %>
  </head>
  <body>
    <%- include('componentes/header') %>
    <main class="main">
      <section class="fundo-index">
        <div class="section-titulo">
          <h1 class="titulo">Rede e Infraestrutura</h1>
          <p>Soluções de conectividade sob medida parar sua empresa.</p>
          <a
            href="https://telecall.com/vendas/?_gl=1*1ccduq7*_ga*OTgwMTc5MDU2LjE2OTI4NDAzNjU.*_ga_MDDSN8Q5HF*MTY5ODI1ODcxNi40NS4xLjE2OTgyNTg3NTAuMC4wLjA.*_ga_V9EJZGZCD5*MTY5ODI1ODcxNy44Ny4xLjE2OTgyNTg3NTAuMjcuMC4w"
            class="botao-principal border-color-2"
            >Contrate aqui</a
          >
        </div>
      </section>
      <section class="section" id="ponto-a-ponto">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>Ponto-a-Ponto</h2>
            <p>
              Solução de formação de rede segura e de alta qualidade com tecnologia MPLS (Multi
              Protocol Label Switching) que permite a priorização de tráfego dentro da rede
              contratada. Os pacotes de dados trafegados na rede são marcados com etiquetas de
              prioridade QoS (Quality of services).
            </p>
            <p>
              Ideal para empresas que necessitam de qualidade na integração de filiais ou conexões a
              pontos remotos.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Simetria de Velocidade</h3>
              <p>Velocidades iguais e garantidas de download e upload.</p>
            </div>
            <div>
              <h3>Acesso a fibra ótica</h3>
              <p>Rede com equipamentos de alta capacidade e anéis de redundância.</p>
            </div>
            <div>
              <h3>Suporte 24x7</h3>
              <p>Gestão dos acessos em tempo real com atendimento proativo aos clientes.</p>
            </div>
            <div>
              <h3>SLA 99,2%</h3>
              <p>Garantia de máximo de 6 horas para reparo do link em caso de falha.</p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section" id="mpls">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>MPLS</h2>
            <p>
              Solução de formação de rede segura e de alta qualidade com tecnologia MPLS (Multi
              Protocol Label Switching) que permite a priorização de tráfego dentro da rede
              contratada. Os pacotes de dados trafegados na rede são marcados com etiquetas de
              prioridade QoS (Quality of services).
            </p>
            <p>
              Ideal para empresas que precisam formar uma empresa que precisam disponibilidade e
              priorização de tráfego dentro dela.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Simetria de Velocidade</h3>
              <p>Velocidades iguais e garantidas de download e upload.</p>
            </div>
            <div>
              <h3>Suporte 24X7</h3>
              <p>Gestão dos acessos em tempo real com atendimento proativo aos clientes.</p>
            </div>
            <div>
              <h3>Priorização de Tráfego</h3>
              <p>Dados etiquetados de acordo com prioridades previamente estabelecidas.</p>
            </div>
            <div>
              <h3>QoS</h3>
              <p>
                Qualidade de serviço na rede permitindo alto desempenho e melhor utilização dos
                recursos.
              </p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section" id="fibra-apagada-e-dutos">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>Fibra Apagada e Dutos</h2>
            <p>
              Locação privada de fibra apagada e dutos entre dois pontos para empresas que possuem
              alta demanda de tráfego de dados e uma estrutura de alta capacidade e velocidade.
            </p>
            <p>
              Esta solução não possui gerenciamento do link por parte da Telecall, estando o cliente
              responsável pela configuração do seu circuito e instalação de roteadores.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Capilaridade</h3>
              <p>Infraestrutura extensa de rede na região.</p>
            </div>
            <div>
              <h3>Time-to-market</h3>
              <p>Melhor tempo de atendimento aos seus clientes.</p>
            </div>
            <div>
              <h3>Altas Taxas de Transmissão</h3>
              <p>Tráfego de dados de altíssima velocidade, superior a 160 Gbit/s.</p>
            </div>
            <div>
              <h3>Fibras Monomodo</h3>
              <p>Possibilitam o uso em distâncias maiores e ilimitadas.</p>
            </div>
            <div>
              <h3>Rede de Dutos</h3>
              <p>
                Ampla rede de dutos para passagem de Fibra com caixas de manobra de fácil acesso.
              </p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section><%- include('componentes/modalCadastro') %></section>

      <button id="back-top">
        <img src="/img/back-top.svg" id="seta-topo" alt="Voltar ao topo" />
      </button>
    </main>
    <%- include('componentes/footer') %>
  </body>
</html>
