<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telecall</title>
    <meta
      name="description"
      content="Conheça as soluções de internet em fibra de altíssima velocidade da Telecall. Link dedicado, Banda larga e Wi-fi."
    />
    <%- include('componentes/links') %>
  </head>
  <body>
    <%- include('componentes/header') %>
    <main class="main">
      <section class="fundo-index">
        <div class="section-titulo">
          <h1 class="titulo">Telefonia</h1>
          <p>Soluções de telefonia inteligentes, inovadoras e integradas.</p>
          <a
            href="https://telecall.com/vendas/?_gl=1*1ccduq7*_ga*OTgwMTc5MDU2LjE2OTI4NDAzNjU.*_ga_MDDSN8Q5HF*MTY5ODI1ODcxNi40NS4xLjE2OTgyNTg3NTAuMC4wLjA.*_ga_V9EJZGZCD5*MTY5ODI1ODcxNy44Ny4xLjE2OTgyNTg3NTAuMjcuMC4w"
            class="botao-principal border-color-2"
            >Contrate aqui</a
          >
        </div>
      </section>
      <section class="section" id="e1">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>E1</h2>
            <p>
              Solução de telefonia através de um tronco digital (E1) que permite a conexão de uma
              central PABX (comunicação entre ramais) com a rede pública.
            </p>
            <p>
              Ideal para empresas que possuem um sistema tradicional de telefonia, de linhas
              analógicas, e desejam modernizar seu sistema para o uso de linhas digitais. Conectado
              à central, o E1 fornece até 30 canais de voz para efetuar e receber ligações
              simultâneas.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Customização</h3>
              <p>Planos customizados de acordo com a sua necessidade.</p>
            </div>
            <div>
              <h3>Qualidade</h3>
              <p>Garantia de qualidade nas ligações.</p>
            </div>
            <div>
              <h3>Simultaneidade</h3>
              <p>Realização de até 30 ligações simultâneas.</p>
            </div>
            <div>
              <h3>R2Digital / ISDN</h3>
              <p>Possibilidade de usar sinalização R2Digital ou ISDN.</p>
            </div>
            <div>
              <h3>DDRs</h3>
              <p>Fornecimento de DDRs sob demanda.</p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section" id="sip-trunk">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>SIP Trunk</h2>
            <p>
              O SIP Trunk é um solução de telefonia baseada no protocolo SIP, que utiliza a internet
              para transmitir chamadas de voz. Com ele, sua empresa pode desfrutar de vantagens
              incríveis, como redução de custos, flexibilidade de expansão, números de telefone
              virtuais e recursos avançados.
            </p>
            <p>
              Ideal para empresas com grande necessidade de comunicação através de centrais
              telefônicas que possuam PABX IP físico e/ou na nuvem.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Customização</h3>
              <p>Planos customizados de acordo com a sua necessidade.</p>
            </div>
            <div>
              <h3>Qualidade</h3>
              <p>Garantia de qualidade nas ligações.</p>
            </div>
            <div>
              <h3>Simultaneidade</h3>
              <p>Realização de ligações simultâneas através de tronco IP.</p>
            </div>
            <div>
              <h3>R2Digital / ISDN</h3>
              <p>Integração entre filiais que possuam PABX IP.</p>
            </div>
            <div>
              <h3>DDRs</h3>
              <p>Fornecimento de DDRs sob demanda.</p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section class="section" id="numeros-0800-e-40xx">
        <div class="container-section">
          <div class="sub-descricao-produto">
            <h2>Números 0800 e 40XX</h2>
            <p>Seja qual for a necessidade da sua empresa, nós temos a solução certa.</p>
            <p>
              Tenha um número 0800 para que em todo o Brasil possam falar gratuitamente com a sua
              empresa.
            </p>
            <p>
              Com o número 40XX na sua empresa, seus clientes sempre ligarão com o custo de uma
              chamada local, não importa em qual cidade do Brasil eles estejam.
            </p>
          </div>
          <div class="container-conteudo sub-conteudo">
            <h2>Benefícios</h2>
            <div>
              <h3>Aumente suas Vendas</h3>
              <p>Estimule mais clientes/potenciais clientes a entrarem em contato com sua empresa para tirar dúvidas, contratar serviços ou comprar produtos.</p>
            </div>
            <div>
              <h3>Preços Acessíveis</h3>
              <p>Contrate pacotes 0800 e 40xx para sua empresa a partir de R$0,10 por min.</p>
            </div>
            <div>
              <h3>Atendimento Unificado</h3>
              <p>Tenha um único número de telefone que atenda todo o Brasil e facilite a vida de seus clientes e vendedores.</p>
            </div>
            <a href="https://api.whatsapp.com/send?phone=552130301010&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre" target="_blank" class="botao-principal">Saiba Mais</a>
          </div>
        </div>
      </section>
      <section><%- include('componentes/modalCadastro') %></section>

      <button id="back-top">
        <img src="/img/back-top.svg" id="seta-topo" alt="Voltar ao topo" />
      </button>
    </main>
    <%- include('componentes/footer') %>
  </body>
</html>
