footer {
  background-color: var(--cor-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border-top: 1px solid var(--cor-texto-p);
  border-bottom: 1px solid var(--cor-texto-p);
}

.footer-logo p{
  max-width: 20ch;
}

.footer-link {
  padding-top: 30px;
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-flex{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-flex a{
  height: 40px;
  width: 40px;
}

.footer-logo, .footer-link{
  padding: 20px;
}

@media(max-width: 600px){
  .footer-flex{
    gap: 10px;
  }
}